.map_bt a, .send_bt a {
  color: var(--tertiary);
  border-color: var(--tertiary);
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  color: white;
}

.whatsapp-float i {
  width: 35px;
  height: 35px;
  position: relative;
  top: 3px;
  letter-spacing: -1px;
}