/* CHANGES BOOSTRAP STYLES */
.navbar-brand img {
  width: 100%;
  height: 40px;
}

.navbar-expand-lg .navbar-collapse {
  background-color: var(--primary);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.548);
}

#navbarSupportedContent .nav-link.navbar-brand::before {
  background-color: white;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.548);
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item.active,
.navbar-nav .nav-item:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

#navbarSupportedContent .nav-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.header_section {
  position: fixed;
  z-index: 999;
  background: transparent;
}



.banner_section {
  position: relative;
  height: 600px;
  /* Altura fija o ajusta según tu diseño */
  background-image: url('../images/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  /* Evita desbordes */
}

.banner_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.425);
}

#banner_slider .carousel-control-next,
#banner_slider .carousel-control-prev {
  background-color: var(--tertiary);
  color: white;
}

.banner_taital_main {
  padding-top: 90px;
  padding-left: 100px;
}

.carousel-inner {
  width: 50%;
  overflow: visible;
}

/* CHANGES BOOSTRAP STYLES */


@media (max-width: 992px) {


  .navbar {
    display: flex !important;
  }

  .header_section .container-fluid {
    display: flex;
    justify-content: end;
  }

  .header_section .navbar-toggler {
    background-color: var(--primary);
    color: white;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    display: flex;
    justify-content: end;
    width: 100%;
    color: white;
  }

  .navbar-toggler .fa .fa-bars::before {
    color: white;
    font-size: 60px;

  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .navbar-light .navbar-nav .active>.nav-link {
    font-weight: bold;
    color: white;
  }

  .navbar-collapse .navbar-nav:nth-child(3) {
    background-color: white;
  }
}

@media (max-width: 560px) {

  .carousel-inner {
    width: 100%;
    /* top: 70px; */
  }

  .banner_taital_main {
    padding: 0;
    font-size: 40px;
  }

  .banner_taital {
    font-size: 45px;
  }
}

@media (max-width: 412px) {
  .banner_taital_main {
    padding: 0;
    font-size: 20px;
  }
  .banner_taital {
    font-size: 37px;
  }
}