.not-found {
  width: 90vw;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
  padding: 30px 0;
}

.not-found svg {
  width: 100%;
  margin-bottom: 30px;
}

.message-box {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: Roboto;
  font-weight: 300;
}

.message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 30px;
}

.message-box .action-link-wrap {
  display: flex;
  align-items: start;
  gap: 15px;
}

.action-link-wrap .link-button {
  width: 135px;
  padding: 10px 15px;
  border-radius: 4px;
}

.buttons-con .action-link-wrap {
  margin-top: 20px;
}

.buttons-con .action-link-wrap a,
.link-back-button {
  background: var(--secondary);
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.buttons-con .action-link-wrap a:hover,
.link-back-button:hover {
  background: var(--primary);
  color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}

.text-404 {
  font-family: initial;
  font-size: 200px;
  display: none;
}

#Polygon-2 {
  animation-delay: .2s;
}

#Polygon-3 {
  animation-delay: .4s;
}

#Polygon-4 {
  animation-delay: .6s;
}

#Polygon-5 {
  animation-delay: .8s;
}

.message-box p {
  font-family: inherit;
  font-size: 18px;
  color: black;
  margin: 0;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}

@media (max-width: 660px) {
  .message-box h1 {
    width: 100%;
  }

  .message-box h1 {
    display: none;
  }

  .text-404 {
    display: block;
  }

  .not-found {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .not-found {
    width: 100vw;
  }
  .not-found svg {
    width: 95%;
  }
}